# Building a job recommendation system with embeddings

## Agenda

1. Data exploration
2. Data cleaning
3. Embedddings generation
4. Similarity search with Faiss
5. Recommendations based on text

## Import data

In [1]:
import pandas as pd
df_raw = pd.read_csv("data/monster_com-job_sample.csv")
df = df_raw[["job_title", "job_description"]]

In [2]:
df

,job_title,job_description
0,IT Support Technician Job in Madison,TeamSoft is seeing an IT Support Specialist to...
1,Business Reporter/Editor Job in Madison,The Wisconsin State Journal is seeking a flexi...
2,Johnson & Johnson Family of Companies Job Appl...,Report this job About the Job DePuy Synthes Co...
3,Engineer - Quality Job in Dixon,Why Join Altec? If you’re considering a career...
4,Shift Supervisor - Part-Time Job in Camphill,Position ID# 76162 # Positions 1 State CT C...
...,...,...
21995,Assistant Vice President - Controller Job in C...,This is a major premier Cincinnati based finan...
21996,Accountant Job in Cincinnati,Luxury homebuilder in Cincinnati seeking multi...
21997,AEM/CQ developer Job in Chicago,RE: Adobe AEM- Client - Loca...
21998,Electrician - Experienced Forging Electrician ...,Jernberg Industries was established in 1937 an...
21999,Contract Administrator Job in Cincinnati,Contract AdministratorCan you be the point per...

## Dataframe exploration
What can you find out about the data?
(Null-values? Unique values?)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   job_title        22000 non-null  object
 1   job_description  22000 non-null  object
dtypes: object(2)
memory usage: 343.9+ KB

In [4]:
df.describe()

       job_title                                    job_description
count      22000                                              22000
unique     18759                                              18744
top      Monster  12N Horizontal Construction Engineers Job Desc...
freq         318                                                104

In [5]:
df['job_title'].unique()

array(['IT Support Technician Job in Madison',
       'Business Reporter/Editor Job in Madison',
       'Johnson & Johnson Family of Companies Job Application for Senior Training Leader | Monster.com var MONS_LOG_VARS = {"JobID":',
       ..., 'AEM/CQ developer Job in Chicago',
       'Electrician - Experienced Forging Electrician Job in Chicago',
       'Contract Administrator Job in Cincinnati'], dtype=object)

## Exploration and cleaning of the job title column

In [6]:
df.job_title.value_counts()[:10]

Monster                                         318
Shift Supervisor Job in Camphill                256
RN                                               70
Shift Supervisor - Part-Time Job in Camphill     56
Manager                                          50
Please apply only if you are qualified.          31
ASST STORE MGR Job in Columbus                   26
LEAD SALES ASSOCIATE-FT Job in Columbus          26
LEAD SALES ASSOCIATE-PT Job in Columbus          24
SALES ASSOCIATE Job in Columbus                  24
Name: job_title, dtype: int64

### Remove jobs with Monster as title

In [7]:
df[df["job_title"] == "Monster"].sample(5).style.set_properties(**{'width-min': '100px'})

In [8]:
df = df.drop(df[df.job_title == "Monster"].index)
# or df = df[df['job_title']!="Monster"]

### Replace the jobtitle RN with Registered Nurse

In [9]:
df[df["job_title"] == "RN"]

      job_title                                    job_description
2668         RN  Job Description Registered professional nurse ...
2672         RN  Job Description Registered professional nurse ...
2763         RN  Job Description Up to $5,000 Sign On Bonus for...
2794         RN  Provides professional nursing care for the com...
2821         RN  Job Description As part of the application pro...
...         ...                                                ...
19635        RN  Up to $5,000 Sign On Bonus for experienced Eme...
19743        RN  Registered professional nurse who assesses, im...
19773        RN  Registered professional nurse who assesses, im...
19927        RN  Davis Hospital and Medical Center is a 225-bed...
20043        RN  Job Description Under the direction of, and in...

[70 rows x 2 columns]

In [10]:
df["job_title"] = ["Registered nurse" if title=="RN" else title for title in df.job_title]

### Count the most occuring words in the job_title column

In [11]:
from collections import Counter
Counter(" ".join(df["job_title"]).split()).most_common(100)

[('Job', 19779),
 ('in', 19166),
 ('-', 4726),
 ('Manager', 3026),
 ('Sales', 1475),
 ('Dallas', 1429),
 ('Specialist', 1247),
 ('Engineer', 1136),
 ('Technician', 1054),
 ('{', 959),
 ('/', 959),
 ('Assistant', 947),
 ('Project', 930),
 ('Cincinnati', 900),
 ('for', 844),
 ('Service', 828),
 ('|', 809),
 ('Application', 797),
 ('Monster.com', 794),
 ('Supervisor', 782),
 ('Columbus', 776),
 ('San', 760),
 ('Analyst', 740),
 ('Construction', 723),
 ('Senior', 722),
 ('Quality', 707),
 ('=', 654),
 ('var', 653),
 ('MONS_LOG_VARS', 637),
 ('{"JobID":', 637),
 ('and', 611),
 ('Associate', 589),
 ('Nurse', 581),
 ('Shift', 545),
 ('City', 530),
 ('Coordinator', 525),
 ('&', 515),
 ('Representative', 514),
 ('Time', 498),
 ('}', 483),
 ('body', 475),
 ('margin:px;', 475),
 ('overflow:', 475),
 ('visible', 475),
 ('!important;', 475),
 ('#ejb_header', 475),
 ('color:', 475),
 ('#;', 475),
 ('font-family:', 475),
 ('Verdana', 475),
 ('Level', 472),
 ('Chicago', 469),
 ('Entry', 458),
 ('Registered', 446),
 ('Director', 443),
 ('Houston', 427),
 ('–', 427),
 ('Las', 416),
 ('Atlanta', 415),
 ('Vegas', 413),
 ('Retail', 389),
 ('Maintenance', 387),
 ('Marketing', 382),
 ('Developer', 376),
 ('Restaurant', 376),
 ('Driver', 370),
 ('Security', 361),
 ('Customer', 354),
 ('New', 354),
 ('Support', 349),
 ('of', 345),
 ('Camphill', 333),
 ('Medical', 322),
 ('Business', 320),
 ('Consultant', 311),
 ('Lead', 311),
 ('Health', 311),
 ('function', 310),
 ('wrap(EL', 309),
 ('Field', 305),
 ('Management', 301),
 ('Full', 300),
 ('Services', 285),
 ('Systems', 284),
 ('Accountant', 279),
 ('RN', 277),
 ('Part', 274),
 ('Account', 271),
 ('Antonio', 268),
 ('CyberCoders', 264),
 ('General', 255),
 ('Austin', 254),
 ('Care', 252),
 ('Program', 248),
 ('Operations', 243),
 ('Development', 238),
 ('Denver', 237),
 ('York', 233),
 ('Administrator', 231),
 ('Production', 229)]

### Remove the unwanted words from Job_Title column (such as Job)

In [12]:
jobtitle=df['job_title'].str.split('Job')
df['job_title']=jobtitle.str[0]

### Remove punctuation from job_title column

In [13]:
import string
punc = string.punctuation
punc

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [14]:
df['job_title'] = df['job_title'].apply(lambda x: "".join([word for word in x if word not in punc]))

In [15]:
df['job_title'].value_counts()[:10]

CyberCoders                                                    264
Shift Supervisor                                               260
Project Manager                                                154
N Horizontal Construction Engineers                            138
B Combat Engineer  Construction and Engineering Specialist      99
L Construction Vehicle Repairer                                 98
Restaurant Manager                                              95
Security Officer                                                88
Registered nurse                                                70
Maintenance Technician                                          66
Name: job_title, dtype: int64

In [16]:
# Reset index of dataframe for later mapping
df = df.reset_index()

## Convert descriptions into vectors with the  Universal Sentence Encoder

In [17]:
import tensorflow_hub as hub
embed = hub.load("https://tfhub.dev/google/universal-sentence-encoder/4")

In [18]:
embeddings = embed(df.job_title.to_list())

In [19]:
embeddings[0]

<tf.Tensor: shape=(512,), dtype=float32, numpy=
array([ 5.12974672e-02, -2.62291506e-02, -5.80487065e-02,  3.83210694e-03,
       -2.07152199e-02, -2.42365990e-02,  4.04172726e-02, -2.02521868e-02,
        7.80966654e-02, -6.32373020e-02,  4.99930941e-02, -6.03388958e-02,
        1.89307071e-02, -2.51962431e-02,  7.05621988e-02,  1.12409843e-03,
       -5.51056862e-03,  1.13683625e-03,  5.51899783e-02, -7.56627843e-02,
        6.14884421e-02,  1.87566422e-03,  4.42417450e-02, -9.26245842e-03,
        2.25352440e-02,  6.17089728e-03, -8.32106546e-02,  2.31221858e-02,
       -3.00848112e-02, -2.78400648e-02, -7.13586658e-02,  6.72420710e-02,
       -3.51649150e-02, -1.12885246e-02, -5.77206612e-02, -1.82857178e-02,
        6.03349172e-02,  6.27986109e-03, -7.15801194e-02,  5.21528572e-02,
        6.00093603e-02, -3.55952494e-02, -4.34854738e-02, -2.40718853e-02,
        6.70997873e-02, -1.11188358e-02,  1.43688172e-02, -2.32283622e-02,
       -2.39833910e-02,  1.82318769e-03, -7.39896372e-02,  5.10589480e-02,
       -1.83551311e-02, -3.25675346e-02,  7.37994462e-02, -4.33333814e-02,
        5.01952171e-02,  5.51193245e-02, -6.14834391e-02,  3.92861012e-03,
        7.91847892e-03, -3.11264545e-02, -5.90847172e-02,  2.57840250e-02,
       -1.90874059e-02, -1.28190592e-03, -7.58500844e-02, -2.30178367e-02,
       -6.69720247e-02, -5.06318472e-02, -1.01546764e-04, -5.98549917e-02,
       -3.98227349e-02, -6.57672510e-02, -3.14925089e-02, -8.79420936e-02,
       -1.16818515e-03, -4.66504879e-02, -1.08956443e-02,  2.67776288e-02,
       -9.87920165e-03,  4.19840999e-02, -2.32748743e-02,  3.49579453e-02,
       -5.84218577e-02,  1.83038116e-02, -5.11173941e-02,  1.06108151e-02,
        8.33440498e-02, -4.27956879e-02,  7.98064843e-03,  3.48531343e-02,
        4.26658764e-02,  3.81308049e-02, -7.19420835e-02,  5.39337359e-02,
       -6.22332096e-02, -1.71159641e-04, -3.87993157e-02, -6.94092885e-02,
        7.58046731e-02, -1.56725924e-02, -4.01356257e-02,  4.30903211e-02,
       -7.62815028e-02, -6.80907369e-02,  4.76033725e-02, -2.80783288e-02,
       -5.84710650e-02, -2.59968676e-02,  4.21851054e-02,  5.08143902e-02,
        6.72336593e-02, -5.48621491e-02, -1.28691290e-02, -6.90811574e-02,
        5.83141036e-02,  1.52973756e-02,  2.82766274e-03, -2.09590197e-02,
       -4.95849252e-02,  6.12929203e-02,  5.08531705e-02,  5.35987504e-02,
        1.27716642e-03,  3.93465087e-02, -5.28074242e-02, -7.05338432e-04,
       -6.44172505e-02,  2.55541727e-02, -8.49252045e-02,  5.31015452e-03,
        1.63921267e-02,  3.88782248e-02,  5.37752621e-02, -5.01576113e-03,
       -6.03794008e-02,  2.76412647e-02, -5.49502000e-02, -3.87627929e-02,
       -4.78542000e-02, -3.82349528e-02,  2.72799563e-02, -6.06110618e-02,
        6.85232729e-02,  1.06506664e-02, -5.28982766e-02, -8.80899467e-03,
        3.41525860e-02, -1.91662591e-02,  1.25612384e-02,  3.79953422e-02,
       -6.44331872e-02, -2.16334052e-02, -2.61474568e-02, -1.55035472e-02,
        6.47438914e-02,  3.69696654e-02,  1.30015276e-02,  3.89137641e-02,
       -4.25638445e-02,  2.25930605e-02, -2.34437007e-02,  2.28427956e-03,
       -4.03830297e-02,  5.93326949e-02,  2.34151483e-02,  4.03996892e-02,
       -2.02289429e-02, -5.60163409e-02, -3.02296057e-02,  1.50705641e-02,
       -1.96214374e-02, -8.16612039e-03,  4.92464937e-02, -4.82789651e-02,
        5.69075309e-02, -6.76420406e-02, -1.22907571e-02,  2.62295641e-02,
       -5.80716766e-02,  2.47305557e-02,  5.49887605e-02,  5.17891645e-02,
        5.52444048e-02,  5.16885240e-03, -8.49423632e-02,  6.15875684e-02,
       -1.14690047e-03, -7.01657161e-02,  2.28724927e-02, -7.89326578e-02,
       -3.99733968e-02,  9.10235941e-03,  1.76028963e-02,  4.67804857e-02,
        4.01024707e-02,  4.89881858e-02, -1.08031183e-02,  2.10628416e-02,
       -3.20899673e-02,  7.31749088e-02, -4.69559878e-02,  1.42763602e-02,
       -1.73179768e-02,  2.24823970e-02, -1.64009985e-02, -2.82599665e-02,
        7.72930533e-02,  4.53240350e-02,  2.14296989e-02,  7.90933892e-02,
       -7.21606091e-02, -4.99396236e-04, -2.32941173e-02, -5.49884140e-03,
        2.01000944e-02,  4.64409329e-02, -6.25154972e-02,  3.57231870e-02,
        7.40811601e-02,  3.05064078e-02, -6.55027432e-03,  3.64688076e-02,
        4.22373340e-02, -4.01440356e-03, -2.18497366e-02, -2.10042093e-02,
        6.93847984e-02,  3.42170820e-02, -4.61947843e-02, -3.89481969e-02,
       -2.09530368e-02,  8.69887620e-02,  2.07967162e-02,  6.21575713e-02,
        4.62277755e-02,  3.50976805e-03,  2.94304378e-02,  6.82510883e-02,
       -3.21558341e-02,  1.56273134e-02,  2.71943957e-02,  2.28982083e-02,
        4.92360368e-02, -3.40544879e-02,  3.04311030e-02,  6.45878464e-02,
       -2.26456560e-02,  7.72677213e-02, -8.73672813e-02,  2.51798667e-02,
        4.58351560e-02,  5.04703671e-02, -4.29918915e-02,  3.57135423e-02,
        1.29684219e-02,  1.45663498e-02,  7.66333845e-03,  4.22153436e-02,
       -4.14089374e-02, -2.81185582e-02,  5.79496808e-02,  6.88903257e-02,
        7.83290192e-02,  7.21000955e-02,  1.47188623e-02,  6.15086220e-02,
        9.51777957e-03, -3.90241034e-02,  1.01845209e-02, -3.43409441e-02,
        2.26745736e-02, -2.62908340e-02,  6.59560598e-03, -5.08852899e-02,
        9.60751902e-03,  4.36552390e-02,  4.09401618e-02, -5.87392636e-02,
        4.31995802e-02, -2.10066102e-02, -3.79549004e-02,  1.87233090e-02,
        2.22108932e-03, -2.25645788e-02,  5.43800853e-02,  5.25252819e-02,
       -2.08783410e-02, -2.89458353e-02, -3.74141000e-02, -6.09770194e-02,
        6.72067255e-02,  5.95264547e-02,  1.87889785e-02, -2.04133312e-03,
       -5.92239909e-02, -3.70082594e-02,  7.64270686e-03,  2.39935052e-02,
       -1.50856813e-02,  3.88312526e-02,  6.79533929e-02,  1.87662262e-02,
       -5.88499159e-02, -4.90980223e-02,  3.42163555e-02,  6.38393387e-02,
       -5.21991029e-02,  7.94447362e-02,  8.38329084e-03, -7.41155073e-02,
        5.46970740e-02, -4.44268249e-02,  6.24702089e-02,  5.11028990e-02,
        6.37033805e-02, -4.89406427e-03, -6.56130388e-02, -1.22045446e-02,
        3.21613997e-02, -3.61969732e-02, -2.11519259e-03,  1.59372315e-02,
       -5.00732698e-02,  2.08621696e-02, -5.05282395e-02,  6.10639639e-02,
        1.10776573e-02, -4.70422022e-03,  6.65575638e-02,  3.87709364e-02,
       -7.38091320e-02, -3.39412354e-02, -5.05245700e-02,  7.91487172e-02,
       -2.08998676e-02,  5.26965363e-03,  6.45211712e-02, -6.16664402e-02,
       -6.40453324e-02,  1.04166530e-02, -6.79596290e-02,  3.01152822e-02,
        2.31528021e-02,  6.44097403e-02,  3.00744027e-02, -7.17025995e-02,
       -7.22164735e-02,  3.21065225e-02,  7.02055590e-03,  3.12523507e-02,
        1.10640423e-02, -8.10201000e-03, -2.18072619e-05, -8.80508497e-02,
       -8.25003311e-02, -5.12673631e-02,  8.17480031e-03, -6.19874485e-02,
       -5.38306460e-02, -2.37434562e-02,  4.35521007e-02, -4.82986979e-02,
        1.73466373e-02,  1.08019300e-02,  5.92138059e-02, -5.85622303e-02,
       -4.25168201e-02,  1.88041944e-02,  9.57108103e-03,  5.93963154e-02,
        7.54979104e-02, -7.89404958e-02, -1.89009272e-02, -5.19161485e-02,
        5.46315406e-03, -4.94623482e-02, -3.98970842e-02,  7.13360868e-03,
       -3.06910053e-02, -3.07734832e-02, -2.47557722e-02,  6.20158017e-02,
       -1.11916633e-02, -4.57334891e-02,  4.46614884e-02, -4.27065082e-02,
        3.80796455e-02, -1.40229678e-02,  2.07346920e-02,  7.40385428e-03,
        3.88703272e-02, -1.31388762e-04,  3.56813706e-02,  3.48320305e-02,
       -2.16710772e-02,  5.26103191e-02, -4.37804163e-02,  6.46826327e-02,
       -5.46584763e-02, -5.20751588e-02,  6.55261651e-02, -4.23197541e-03,
        2.03380547e-03, -4.60122852e-03, -4.98737358e-02, -5.32837175e-02,
        6.42178487e-03, -6.75971806e-02, -3.49846086e-03, -1.83799770e-02,
       -5.99552132e-02, -1.20534152e-02,  5.15993722e-02,  1.88262537e-02,
        6.08229227e-02,  2.80335434e-02,  6.01488957e-03,  5.05067036e-02,
        7.36537576e-02, -8.16294402e-02, -1.36768874e-02, -3.22189815e-02,
        4.67553549e-02,  2.82881707e-02,  7.85365030e-02,  3.92366424e-02,
       -1.97445089e-03, -5.22211827e-02, -4.88783792e-02, -1.75667796e-02,
        6.68876246e-03, -6.29144609e-02, -5.41818775e-02, -3.33491452e-02,
       -1.27926962e-02,  3.72813456e-02, -6.12248629e-02,  6.48085698e-02,
        1.94900706e-02, -7.66663998e-02, -7.53363818e-02, -4.94695408e-03,
        3.69812809e-02,  3.50322127e-02,  8.72080773e-03,  1.93435904e-02,
       -7.83167556e-02,  3.68748456e-02,  1.81653779e-02, -6.08255677e-02,
        4.74814326e-02,  5.06188236e-02,  2.74776779e-02, -4.89414297e-02,
       -6.00798661e-03, -7.52979815e-02,  2.18230672e-02,  4.01993282e-02,
        6.76846039e-03,  3.53747942e-02,  7.57283866e-02, -6.83167353e-02,
        3.26722190e-02,  5.80975898e-02, -5.79229509e-03,  5.48365228e-02,
       -2.53118910e-02,  2.48893118e-03, -2.07417402e-02,  3.14191021e-02,
       -2.18453128e-02,  6.83863983e-02, -6.57330677e-02,  2.12762747e-02,
        2.41000913e-02, -5.62539622e-02, -3.06070060e-03,  5.17970361e-02,
        2.03764271e-02, -9.30027757e-03, -4.35963720e-02,  8.37859791e-03,
       -2.80214939e-02,  5.03599867e-02,  1.61913801e-02,  1.86136011e-02,
        8.24747514e-03, -6.41951784e-02, -2.23041065e-02, -6.92126807e-03,
        3.49928737e-02, -4.71547991e-02,  3.83274592e-02,  7.39320694e-03,
        4.68427688e-02, -7.29061738e-02,  2.19118968e-02,  2.29290109e-02,
        7.57361995e-03, -4.94390391e-02, -4.81821597e-03, -5.36905415e-02,
        6.64031804e-02,  3.62247042e-02,  6.89221034e-03,  4.97386232e-02,
       -1.42654814e-02, -4.59439754e-02, -3.80787998e-02,  4.81784083e-02],
      dtype=float32)>

In [20]:
import numpy as np
np.shape(embeddings)

TensorShape([21682, 512])

### Iterate over all job titles and create list of embeddings

In [21]:
from tqdm.notebook import tqdm

embeddings_array = [item.numpy() for item in tqdm(embeddings)]

HBox(children=(FloatProgress(value=0.0, max=21682.0), HTML(value='')))

## Building an approximate similarity matching index with Faiss
Faiss is a library for efficient similarity search and clustering of dense vectors. It contains algorithms that search in sets of vectors of any size, up to ones that possibly do not fit in RAM.    
https://github.com/facebookresearch/faiss

### Import faiss and create an index with our embeddings

In [22]:
import faiss
import numpy as np
dimensions = len(embeddings_array[0])
faiss_index = faiss.IndexFlatL2(dimensions)
faiss_index.add(np.array(embeddings_array))

### Search for nearest neighbour in faiss

In [23]:
embedding = embed(["this is a test"])
D, nearest_items = faiss_index.search(embedding.numpy(), 5)
nearest_items

array([[13770,  5037, 10526, 13780,  1556]])

In [24]:
df.iloc[[13770,  5037, 10526, 13780,  1556]]

,index,job_title,job_description
13770,13960,Test Lead,RESPONSIBILITIES:Kforce has a client that is s...
5037,5144,Test Lead,Test Lead Qualification: Bachelors in scienc...
10526,10688,USIT Tester Tier,Tester Role Bachelors degree or equivalent exp...
13780,13970,Test Engineer,Mastech is a growing company dedicated to inno...
1556,1581,Test Engineer,Randstad is looking for a Test Engineer in Dal...

In [25]:
def get_most_similar_jobs(text: str, num_recos: int = 5)-> pd.DataFrame:
    embedding = embed([text])
    D, nearest_items = faiss_index.search(embedding.numpy(), num_recos)
    return df.iloc[nearest_items[0]]

In [26]:
get_most_similar_jobs("I want to develop in python", 10)

,index,job_title,job_description
14986,15197,Python Developer,Job Description:-Client is looking for a Pytho...
3500,3533,Python Developer,Job Description:-Client is looking for a Pytho...
11023,11194,Python Developer II,RESPONSIBILITIES:Kforce has a client that is s...
17246,17533,Sr Python Developer,"Experis IT, a Manpower Company, is seeking a S..."
16475,16731,API Tester w Python Scripting experience,• To test the different services and API’s nee...
15529,15745,Senior Software Engineer Python,Senior Software Engineer (Python)Senior Softwa...
17933,18220,Java Groovy Developer,RESPONSIBILITIES:Kforce has a client in Westla...
4735,4841,Software Automation Engineer – Python,"Software Automation Engineer – Python, Ruby, J..."
3484,3517,Java SDET,Quickly growing company on the East side is lo...
21044,21362,Java,Java DeveloperJava Developer Description: The ...